{% extends 'base.html.twig' %}

{% block body %}
<a href="/" class="btn btn-default">retour</a>
<hr>

<h2 class="page-header">{{ licences.name }}</h2>
<ul class="list-group">
    <li class="list-group-item"> Permissions: {{ licences.permissions }}</li>
    <li class="list-group-item"> Conditions: {{ licences.conditions }}</li>
    <li class="list-group-item"> Limitations: {{ licences.limitations }}</li>
</ul>

{% endblock %}
